ClientAffiliate/ClientLibrairie/Service References/ServiceReference/service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAffiliateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAffiliateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetAffiliateByIdResult" nillable="true" type="q1:Affiliate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAffiliateByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAffiliateByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetAffiliateByNameResult" nillable="true" type="q2:Affiliate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishListByCardNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishListByCardNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetWishListByCardNumResult" nillable="true" type="q3:ArrayOfWishListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpruntsByAffiliate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpruntsByAffiliateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetEmpruntsByAffiliateResult" nillable="true" type="q4:ArrayOfEmprunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpruntByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpruntByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetEmpruntByCodeResult" nillable="true" type="q5:Emprunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="affiliateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetRetardsResult" nillable="true" type="q6:ArrayOfEmprunt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibraries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibrariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetLibrariesResult" nillable="true" type="q7:ArrayOfLibrary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVolumes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVolumesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetAllVolumesResult" nillable="true" type="q8:ArrayOfVolume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volumeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByVolumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetItemsByVolumeResult" nillable="true" type="q9:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volumeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetVolumeDetailsResult" nillable="true" type="q10:Volume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeDetailsByIsbn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeDetailsByIsbnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetVolumeDetailsByIsbnResult" nillable="true" type="q11:Volume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleLike" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetVolumeByTitleResult" nillable="true" type="q12:Volume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumesByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleLike" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumesByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetVolumesByTitleResult" nillable="true" type="q13:ArrayOfVolume" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarifsByLib">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libraryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarifsByLibResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetTarifsByLibResult" nillable="true" type="q14:ArrayOfTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWishListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:int" />
        <xs:element minOccurs="0" name="volumeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWishListItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wishId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishListItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEmprunt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:int" />
        <xs:element minOccurs="0" name="item_Id" type="xs:int" />
        <xs:element minOccurs="0" name="volume_Id" type="xs:int" />
        <xs:element minOccurs="0" name="tarif_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEmpruntResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>