ClientAffiliate/ClientLibrairie/Service References/ServiceReference/service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AffiliateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAffiliateService_CheckIn_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_CheckIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_CheckIn_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q1:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAffiliateById" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAffiliateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateById_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q2:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAffiliateByName" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAffiliateByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAffiliateByName_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q3:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetWishListByCardNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWishListByCardNum" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetWishListByCardNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWishListByCardNumResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetWishListByCardNum_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q4:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntsByAffiliate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpruntsByAffiliate" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntsByAffiliate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpruntsByAffiliateResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntsByAffiliate_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q5:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpruntByCode" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpruntByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetEmpruntByCode_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q6:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetRetards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetards" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetRetards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetardsResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetRetards_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q7:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraries" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetLibraries_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q8:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAllVolumes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVolumes" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAllVolumes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVolumesResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetAllVolumes_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q9:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetItemsByVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByVolume" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetItemsByVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetItemsByVolume_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q10:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeDetails" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetails_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q11:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetailsByIsbn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeDetailsByIsbn" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetailsByIsbn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeDetailsByIsbnResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeDetailsByIsbn_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q12:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeByTitle" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumeByTitle_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q13:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumesByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumesByTitle" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumesByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumesByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetVolumesByTitle_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q14:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetTarifsByLib_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTarifsByLib" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetTarifsByLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTarifsByLibResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_GetTarifsByLib_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q15:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_AddWishListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWishListItem" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_AddWishListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWishListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_AddWishListItem_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q16:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_DeleteWishListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWishListItem" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_DeleteWishListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWishListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_DeleteWishListItem_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q17:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_StartEmprunt_InputMessage">
    <wsdl:part name="parameters" element="tns:StartEmprunt" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_StartEmprunt_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartEmpruntResponse" />
  </wsdl:message>
  <wsdl:message name="IAffiliateService_StartEmprunt_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/WcfBLAffiliate" name="detail" element="q18:CustomFault" />
  </wsdl:message>
  <wsdl:portType name="IAffiliateService">
    <wsdl:operation name="CheckIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/CheckIn" message="tns:IAffiliateService_CheckIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/CheckInResponse" message="tns:IAffiliateService_CheckIn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/CheckInCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_CheckIn_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAffiliateById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateById" message="tns:IAffiliateService_GetAffiliateById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateByIdResponse" message="tns:IAffiliateService_GetAffiliateById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateByIdCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetAffiliateById_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAffiliateByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateByName" message="tns:IAffiliateService_GetAffiliateByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateByNameResponse" message="tns:IAffiliateService_GetAffiliateByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetAffiliateByNameCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetAffiliateByName_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWishListByCardNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetWishListByCardNum" message="tns:IAffiliateService_GetWishListByCardNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetWishListByCardNumResponse" message="tns:IAffiliateService_GetWishListByCardNum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetWishListByCardNumCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetWishListByCardNum_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpruntsByAffiliate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntsByAffiliate" message="tns:IAffiliateService_GetEmpruntsByAffiliate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntsByAffiliateResponse" message="tns:IAffiliateService_GetEmpruntsByAffiliate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntsByAffiliateCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetEmpruntsByAffiliate_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpruntByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntByCode" message="tns:IAffiliateService_GetEmpruntByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntByCodeResponse" message="tns:IAffiliateService_GetEmpruntByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetEmpruntByCodeCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetEmpruntByCode_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetards">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetRetards" message="tns:IAffiliateService_GetRetards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetRetardsResponse" message="tns:IAffiliateService_GetRetards_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetRetardsCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetRetards_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetLibraries" message="tns:IAffiliateService_GetLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetLibrariesResponse" message="tns:IAffiliateService_GetLibraries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetLibrariesCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetLibraries_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVolumes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetAllVolumes" message="tns:IAffiliateService_GetAllVolumes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetAllVolumesResponse" message="tns:IAffiliateService_GetAllVolumes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetAllVolumesCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetAllVolumes_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsByVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetItemsByVolume" message="tns:IAffiliateService_GetItemsByVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetItemsByVolumeResponse" message="tns:IAffiliateService_GetItemsByVolume_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetItemsByVolumeCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetItemsByVolume_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolumeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetails" message="tns:IAffiliateService_GetVolumeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetailsResponse" message="tns:IAffiliateService_GetVolumeDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetailsCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetVolumeDetails_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolumeDetailsByIsbn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetailsByIsbn" message="tns:IAffiliateService_GetVolumeDetailsByIsbn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetailsByIsbnResponse" message="tns:IAffiliateService_GetVolumeDetailsByIsbn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeDetailsByIsbnCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetVolumeDetailsByIsbn_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolumeByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeByTitle" message="tns:IAffiliateService_GetVolumeByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeByTitleResponse" message="tns:IAffiliateService_GetVolumeByTitle_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumeByTitleCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetVolumeByTitle_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolumesByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumesByTitle" message="tns:IAffiliateService_GetVolumesByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumesByTitleResponse" message="tns:IAffiliateService_GetVolumesByTitle_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetVolumesByTitleCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetVolumesByTitle_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTarifsByLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/GetTarifsByLib" message="tns:IAffiliateService_GetTarifsByLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/GetTarifsByLibResponse" message="tns:IAffiliateService_GetTarifsByLib_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/GetTarifsByLibCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_GetTarifsByLib_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWishListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/AddWishListItem" message="tns:IAffiliateService_AddWishListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/AddWishListItemResponse" message="tns:IAffiliateService_AddWishListItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/AddWishListItemCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_AddWishListItem_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWishListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/DeleteWishListItem" message="tns:IAffiliateService_DeleteWishListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/DeleteWishListItemResponse" message="tns:IAffiliateService_DeleteWishListItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/DeleteWishListItemCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_DeleteWishListItem_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartEmprunt">
      <wsdl:input wsaw:Action="http://tempuri.org/IAffiliateService/StartEmprunt" message="tns:IAffiliateService_StartEmprunt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAffiliateService/StartEmpruntResponse" message="tns:IAffiliateService_StartEmprunt_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAffiliateService/StartEmpruntCustomFaultFault" name="CustomFaultFault" message="tns:IAffiliateService_StartEmprunt_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAffiliateService" type="tns:IAffiliateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckIn">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/CheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAffiliateById">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetAffiliateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAffiliateByName">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetAffiliateByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWishListByCardNum">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetWishListByCardNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmpruntsByAffiliate">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetEmpruntsByAffiliate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmpruntByCode">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetEmpruntByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRetards">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetRetards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLibraries">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllVolumes">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetAllVolumes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByVolume">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetItemsByVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVolumeDetails">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetVolumeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVolumeDetailsByIsbn">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetVolumeDetailsByIsbn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVolumeByTitle">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetVolumeByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVolumesByTitle">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetVolumesByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTarifsByLib">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/GetTarifsByLib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddWishListItem">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/AddWishListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteWishListItem">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/DeleteWishListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartEmprunt">
      <soap:operation soapAction="http://tempuri.org/IAffiliateService/StartEmprunt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultFault">
        <soap:fault use="literal" name="CustomFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AffiliateService">
    <wsdl:port name="BasicHttpBinding_IAffiliateService" binding="tns:BasicHttpBinding_IAffiliateService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfBLAffiliate/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>